.crucero_detalle {
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #f8f9fa;
    overflow: hidden;
    .atras {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      padding: 5px 18px 5px 14px;
      color: white;
      background-color: #f05135cc;
      cursor: pointer;
      border-bottom-right-radius: 8px;
    }
    .atras:hover {
      background-color: #e4482c;
    }
    img {
      max-width: 800px;
      max-height: 400px;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    .header_detalle {
      flex: 1;
      display: flex;
      flex-direction: column;
      text-align: start;
      .name {
        padding: 5px 15px;
        background-color: #f05235;
        color: white;
        font-weight: bold;
        font-size: 2rem;
        text-transform: uppercase;
      }
      .detalle_contenido {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        .info {
          flex: 1;
          p {
            font-size: 1.1rem;
            i {
              color: #f05235;
              margin-right: 5px;
            }
          }
        }
        .precios {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0 10px 10px;
          .text {
            font-size: 0.78rem;
            margin: 0;
            padding: 0;
            height: 10px;
          }
          .precio {
            margin: 0;
            padding: 0;
            font-size: 1.7rem;
            font-weight: bold;
            color: #f05235;
          }
        }
        .complementos {
          display: flex;
          flex: 1;
          flex-direction: column;
          gap: 5px;
          align-items: center;
          text-align: center;
          padding: 0 10px;
          p {
            text-align: center
          };
        }
      }
      .puertos {
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
      }
    }
  }

  .crucero_nav {
    max-height: none;
    display: block;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    button {
      flex: 1;
      min-width: 150px;
      padding: 12px 15px;
      font-size: 1rem;
      font-weight: bold;
      text-align: center;
      background-color: #ffffff;
      color: #f05235;
      border: 1px solid #f05235;
      transition: all 0.3s ease;
      cursor: pointer;
    }
    button:hover,
    button.select {
      background-color: #f05235;
      color: white;
      box-shadow: inset 4px 4px 10px 4px rgba(0, 0, 0, 0.2);
    }
  }

  .crucero_main {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
  }

  .crucero_salidas {
    margin: 20px 0;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    .fecha {
      padding: 5px;
      text-align: center;
      color: white;
      font-weight: bold;
    }
    .preciosList {
      height: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      div {
        flex: 1;
        min-width: 150px; /* Evita que los botones sean demasiado pequeños */
        padding: 12px 15px;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        background-color: #ffffff;
        border: 1px solid #f05235;
        transition: all 0.3s ease;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 768px) {
  .crucero_detalle {
    .header {
      text-align: center;
      img {
        max-width: 100%;
      }
      .header_detalle {
        .name {
          font-size: 1.8rem;
        }
        .detalle_contenido {
          padding: 8px 17px;
          .info {
            width: 100%;
            p {
              font-size: 1rem;
            }
          }
          .complementos {
            width: 100%;
          }
        }
      }
    }

    .crucero_nav {
      flex-wrap: wrap;
      button {
        flex: 1 1 48%; /* Ocupa la mitad del ancho */
        min-width: auto;
      }
    }
  }
}

@media (max-width: 480px) {
  .crucero_detalle {
    .header_detalle {
      .name {
        font-size: 1.5rem;
      }
      .detalle_contenido {
        flex-direction: column;
        padding: 5px 12px;
        p {
          font-size: 0.9rem;
        }
      }
    }

    .crucero_nav {
      button {
        flex: 1 1 100%;
      }
    }
  }
}
